@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

h2
{
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}
