@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

h1
{
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}
SpanBlue
{
  color: #3f51b5;;
}
SpanRed
{
  color: #f44336;
}
